*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main{
  flex-grow: 1;
  display: flex;
}

.footer{
  background: #444;

/* debug */
height: 80px;
}

.sidebar{
  background: black;
  flex-basis: 230px;
}

.content{
  background: gray;
  flex-grow: 1;
}
